* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-width: 320px;
    margin: auto;
    border: solid 1px red;
    background-color: palegoldenrod;
}

#cabecalho {
    display: flex;
    justify-content: space-evenly;
    width: 1072px;
    margin: auto;
    padding: 16px 0;
    border: solid 1px orange;
}

picture img {
    display: block;
    width: 80px;
    border: solid 1px blue;
    border-radius: 100%;
    
}

h1 {
    padding: 16px 0;    
}

#container {
    padding: 16px;
}

#container a {    
    background-color: #fff;
    border: solid 1px limegreen;
}

#container a img {
    display: block;
    width: 280px;
    height: 280px;
}